<div id="data">
  <br/>
  <div class="container p-4">
    <div class="row">
      <div class="col col-md-8">
        <h1>Avaliador<br/>
        <small>Entre com sua conta do IIDV</small></h1>
        <br /><br />
        
        <div class="form-group">
          <label for="userCPF">CPF</label>
          <input type="text" class="form-control" id="userCPF" />
        </div>
        
        <div class="form-group">
          <label for="userPassword">Senha</label>
          <input type="password" class="form-control" id="userPassword" />
        </div>

        <input type="button" value="Entrar" class="btn btn-primary" id="login" />
      </div>
    </div>
  </div>
</div>

<!--Loader-->
<script src="../core/ifrLoader.js"></script>